.MainPage{
    background-color: #012E40; 
    padding-top: 8%;    
}

.MainPageContent{
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    margin-bottom: 10%;
    padding-bottom: 10%;
}

.GridContent{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;

    margin-top: 5%;
}

.Divider{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 50%;
}

.ProfileImage{
    vertical-align: middle;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -100px;
    margin-left: calc(50% - 120px);
}

.TechSkills{
    background-color: rgba(236, 236, 236, 0.52);
    margin: 5%;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 5%;
}

@media only screen and (max-width: 1480px){
    .ProfileImage{
        vertical-align: middle;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -90px;
        margin-left: calc(50% - 90px);
    }

    .MainPage{
        margin-top: 60px;   
    }

    .MainPageContent{
        height: 100%;
        padding-bottom: 10%;
    }

    .TechSkills{
        background-color: rgba(236, 236, 236, 0.52);
        border-radius: 10px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 1px;
        padding-bottom: 10px;
    }
}