.Certifications{
    background-color: rgba(236, 236, 236, 0.52);
    height: 100%;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 40px;
    border-radius: 10px;
    margin-top: 90px;
}

.Certification{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.CertificationContent{
    margin-left: 20px;
    margin-top: -30px;
}

.CertificationInstituteName{
    font-size: 15pt;
    font-weight: 600;   
}

.CertificationTitle{
    font-size: 13pt;
    font-weight: 400;
    margin-top: -10px;
}

.CertificationYear{
    font-size: 13pt;
    font-weight: 300;
    margin-top: -10px;
}

.SCRUMstudyLogo, .LetsCodeLogo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}


@media only screen and (max-width: 1300px){
    .Certifications{
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
        height: 100%;
        width: 100%;
    }

    .Certification{
        display: flex;
        flex-wrap: initial;
    }

    .SCRUMstudyLogo, .LetsCodeLogo{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}