.Experience{
    background-color: rgba(236, 236, 236, 0.52);
    height: 100%;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 10%;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.ExperienceCard{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.ExperienceContent{
    margin-left: 20px;
    margin-top: -30px;
}

.ExperienceInstituteName{
    font-size: 15pt;
    font-weight: 600;   
}

.ExperienceTitle{
    font-size: 13pt;
    font-weight: 400;
    margin-top: -10px;
}

.ExperienceYear{
    font-size: 13pt;
    font-weight: 300;
    margin-top: -10px;
}

.ExperienceLogo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1300px){
    .Experience{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 5%;
        height: 100%;
        width: 100%;
    }

    .ExperienceCard{
        display: flex;
        flex-wrap: initial;
    }

    .ExperienceLogo{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}