.DesignSkills{
    background-color: rgba(211, 207, 207, 0.52);
    height: 100%;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 10%;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.DesignSkillsTitle{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.DesignSkillsArea{
    width: 100%;
    margin: 0 auto;
}

.DesignSkillsTitle > p{
    color: rgba(44, 44, 44, 0.8);
    font-weight: bold;
}

.Logo{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.Logo2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.Logo3{
    height: 30px;
    width: 60px;
    border-radius: 10%;
    margin-top: 10px;
    margin-right: 10px;
    object-fit: cover;
}

@media only screen and (max-width: 1300px){
    .DesignSkills{
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 5%;
    }
    
}