.Languages{
    background-color: rgba(236, 236, 236, 0.52);
    height: 100%;
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.LanguagesArea{
    width: 100%;
    margin: 0 auto;
}

.LanguagesArea > p{
    color: rgba(44, 44, 44, 0.8);
    font-weight: bold;
}
  
@media only screen and (max-width: 1300px){
    .Languages{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 5%;
        height: 100%;
        width: 100%;
    }
    
}